*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.div1{
    background: linear-gradient(45deg,black,rgb(14, 12, 12),rgb(143, 142, 142));
    width: 50%;
    height: 700px;
    float: left;
}
.div1:hover{
    background: linear-gradient(45deg,rgb(255, 255, 255),rgb(14, 12, 12),black);
}
.div2{
    background: linear-gradient(45deg,rgb(236, 0, 236),rgb(201, 105, 201),wheat);
    float: right;
    width: 50%;
    height: 700px;
}
.div2:hover{
    background: linear-gradient(45deg,wheat,rgb(201, 105, 201),rgb(236, 0, 236));
}
.container{
    position: absolute;
    width: 100%;
    min-height: 100vh;
}
nav{
    margin: 0 auto;
    background-color: white;
    display: flex;
    width: 69%;
    border-radius: 50px 50px 50px 50px;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}
.searchbutton h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(240, 248, 255, 0.39);
}
.searchbutton{
    margin-right: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
}
/* input{
    display: inline-block;
    font-size: 20px;
    box-sizing: border;
    transition: .5s;
} */
.field{
    border: none;
    width: 150px;
    border-radius: 20px 0 0 20px;
    height: 30px;
    color: black;
    background-color: rgba(196, 194, 194, 0.699);
}
.continue{
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(245, 222, 179, 0.507);
    background-color: rgba(196, 194, 194, 0.699);
    border-radius: 0 20px 20px 0;
    width: 60px;
    height: 30px;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: black;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;

}
.navItems li:hover a{
    z-index: 3;
    color: cyan;
}
.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg,cyan,rgb(1, 83, 56));
    animation: object1 4s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 90px;
    width: 90px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg,cyan,rgb(1, 83, 56));
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}
.cols{
    width: 50%;
    margin-top: 200px;
    margin-right: 40px;
}
.cols0{
    z-index: 5;
}
h1{
    display: block;
    font-size: 40px;
    font-weight: 900;
    color: white;
}
.multi{
    font-size: 70px;
    color: black;
    text-transform: capitalize;
}
.btn{
    width: 100%;
    position: relative;
    left: 150px;
}
button{
    border-radius: 30px 30px 30px 30px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: black;
    margin-left: 90px;
    /* background: linear-gradient(45deg,rgb(255, 255, 255),rgb(255, 255, 255),cyan,cyan); */
    padding: 8px 14px;
    letter-spacing: 2px;
    text-transform: capitalize;
    
}
button:hover{
    background-color: red;
    transition-duration: 1s;
}
/* .imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}
.imgbox img{
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -100px;
    right: 50px;
    transform: rotateY(180deg);
    animation: animateUser 4s linear infinite;
}
@keyframes animateUser{
    50%{
        right: 30px;
        top: -90px;
    }       
}
.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)rotate(-35deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    50%{
        top: 49%;
        left: 51%;
        width: 155%;
    }
} */
::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(233, 27, 62);
    visibility: hidden;
}
::-webkit-scrollbar-thumb:hover{
    visibility: visible;
}